
*, /* this is done at the beginning of every css file often to ensure consistency over different web browsers and have full control over the layout of pages */
*::before, /* the before and after pseudo elements are used to insert something before or after the content of an element */
*::after
{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url('imgs/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: aqua;
    border-width: 1px;
    border-style: solid;
}

#container .content {
    display: flex;
    flex-direction: column;
    padding: 200px;
}

img {
    height: 100px;
    margin-bottom: 10px;
}

.selection:hover {
    cursor: pointer;
    transform: scale(0.9);
    transition: transform 200ms;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;
    font-weight: bold;
    color: rgb(94, 255, 0);

}

.player-selection {
    margin-right: 50px;
}

.computer-selection{
    margin-left: 50px;
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    height: 100px;
    width: 100px;
}

.score .points {
    display: flex;
}