
*, /* this is done at the beginning of every css file often to ensure consistency over different web browsers and have full control over the layout of pages */
*::before, /* the before and after pseudo elements are used to insert something before or after the content of an element */
*::after
{
    margin: 0;
    padding: 0;
}

html {
    background-color: #131a0c;
    scroll-behavior: smooth;
}